body {
	margin: 0 auto;
	background: rgb(200, 200, 233);
}

.random-person-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	gap: 30px;
}

.random-person-container button {
	background: black;
	color: white;
	border: none;
	padding: 8px;
	border-radius: 4px;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#container img {
	width: 150px;
	border-radius: 100%;
}
